/* Vector */

body{
    margin : 0px 30px 0px 60px ;
    background:linear-gradient( #F3F5FC,#F3F5FC,#ecedec);
    color:#0A3871;
}


main{
    display:flex;
}

.logo{
    display:inline;
    width: 250px;
    height: 150px;
    border:none;
    border-radius: 500px;
    position:relative;
    left:500px;
}

.text-area{
    width: 577px;
    margin:25px 30px 30px 10px ;
    border:none;
    border-radius: 10px;
    background:#F3F5FC;
    font-family: "Inter";
    font-style: normal;
    font-size: 24px;
    line-height: 150%;
    color:#0A3871;

}

.mensaje{
    width: 577px;
    margin: 15px 5px 10px;
    padding-top: 20px;
    border:none;
    border-radius: 50px;
    background:white;
    background-image: url("../imagenes/Comic\ face\ expressions\ vector\ illustrations\ set.jpg") ;
    background-size: 600px;
    background-position: 5px 20px ;
    text-align: center;
    font-family: "Inter";
    font-style: normal;
    font-size: 24px;
    line-height: 100%;
    color:#0A3871;
}


.copy-btn{
    display: flex;
    padding-left: 25px;
    padding-top: 5px;
    width: 100px;
    height: 30px;
    text-align: end;
    font-size: 15px;
    font-weight: bold;
    color:#0A3871;
    background:#D8DFE8;
    border:1px solid #0A3871;
    border-radius: 24px ;
    cursor: pointer;
    position:relative;
    bottom:30px;
    left:250px;
}

.copy-btn:active{
    transform: scale(0.98) translateY(-3px);
}
.gif{
    display:flex;
    position:relative;
    bottom:700px;
    left:700px;
    

}

textarea:focus, input:focus, input[type]:focus {
    border-color: #0A3871;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px #0A3871;
    outline: 0 none;
}

h6{
    font-family: "inter";
    margin:0 20px;

}
.btn-encriptar{ 
    width: 270px;
    height: hug(68px);
    padding: 20px;
    margin:0 20px;
    font-size: 18px;
    font-weight: bold;
    color:white;
    background:#0A3871;
    border:1px solid #070707;
    border-radius: 24px ;
    transition: 1s all;
    cursor: pointer;
}

.btn-encriptar:hover{
    background:blue;
    transform: scale(1) translateY(-3px);
}



lord-icon{
    position:absolute;
    top:550px;
    left:90px;
}
.btn-desencriptar{
    width: 270px;
    height: hug(68px);
    padding: 22px;
    font-size: 18px;
    font-weight: bold;
    color:#0A3871;
    background:#D8DFE8;
    border:1px solid #0A3871;
    border-radius: 24px ;
    transition: 1s all;
    cursor: pointer;
    margin:10px 0;
}

.btn-desencriptar:hover{
    background:lightcyan;
    transform: scale(1) translateY(-3px);
}

footer{
    display: flex;
    text-align: center;
    width: 1200px;
    height:75px;
    background:url(../imagenes/white-concrete-wall.jpg);
    background-size: auto;
}

.logo2{
    width:120px;
    padding:7px 8px;
    margin-top:5px;
    border-radius: 120px;
    position:relative;
    left:40%;
    
}

.monster{
    
    position:relative;
    bottom:555px;
    left:23%;
    

}
.github{
    position:relative;
    right:23%;
    bottom:550px;

}

.linkedin{
    
    position:relative;
    left:65%;
    bottom:550px;
}

.foto{
    width:57px;
    padding: 3px ;
    margin:5px 0px;
    position:relative;
    left:44%;
    border-radius: 60px;
    background-color:black;
    box-shadow: 2px rgb(27, 27, 27);
}

/* Dark blue/dark-blue-300 

background: #0A3871;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/

@media screen and (max-width:480px){

    body{
        width: 80%;
    }
    header{
        position:relative;
        right:120%;
    }

    .gif{
        display:inline;
        position:relative;
        left:115%;
    }

    main{
        flex-direction: column;
        width:100%;
    
    }

    .botones{
        display:flex;
        margin-left: 30%;
    }

    .btn-encriptar{
        width:350px;
        margin:10px 10px 10px 0px;
    }

    footer{
        width: 100%;
        height:75px;
    }

    .github{
        position:relative;
        right:100%;
        bottom:550px;
    }
}
